.cart {
	&-header {
		padding: 42px 15px;
	}
	&-container {
		max-width: calc(940px + var(--bs-gutter-x, 1.5rem));
	}
	&-body {
		padding: 40px 0;
		background-color: $turquoise;
	}
	&-item {
		background-color: $white;
		margin-bottom: 30px;
		&:last-of-type {
			margin-bottom: 0;
		}
		&__thumb {
			flex: 0 0 220px;
			margin-right: 20px;
			padding: 10px 10px 10px 10px;
		}
		&__info {
			flex: 0 0 340px;
			margin-right: 30px;
		}
		&__meta {
			flex: 0 0 230px;
			max-width: 230px;
			background-color: $green-accent;
			padding: 30px 30px 24px;
			.order-info__quant {
				margin-bottom: 30px;
			}
		}
		&__info {
			padding: 30px 0 25px;
		}
		&__name {
			margin-bottom: 20px;
			color: $black;
			text-decoration: none;
			letter-spacing: normal;
			text-transform: capitalize;
		}
		&__descr {
			margin-bottom: 23px;
		}
		&__remove {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			.btn {
				width: 50px;
				height: 50px;
				padding: 0;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	&-footer {
		padding: 17px 150px;
		background-color: $green-accent;
		position: fixed;
		width: 100%;
		z-index: 99;
		max-width: 1920px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&-full-price {
		margin-left: 10px;
		span {
			margin-left: 5px;
		}
	}
}