// Footer
.site-wrapper
	footer.site-footer
		.container
			.row
				.col-lg-3.col-md-6
					ul.site-footer__list
						li
							a(href="#").site-footer__link (067) 888-88-88
						li
							a(href="#").site-footer__link (067) 888-88-88
						li
							a(href="#").site-footer__link (067) 888-88-88
				.col-lg-6.col-md-6
					ul.site-footer__nav
						li
							a(href="#").site-footer__link Акции
						li
							a(href="#").site-footer__link Оплата и доставка
						li
							a(href="#").site-footer__link Контакты
						li
							a(href="#").site-footer__link Отзывы
						li
							a(href="#").site-footer__link Вакансии
						li
							a(href="#").site-footer__link О нас
				.col-lg-3.col-md-6
					ul.site-footer__actions
						li
							a(href="#").btn.btn-white.btn-icon
								i.grf-phone
								span Обратный звонок
						li
							a(href="#").btn.btn-white.btn-icon
								i.grf-login
								span Личный кабинет
