
nav.main-nav
	a(href="#").main-nav__link Акции
	a(href="#").main-nav__link.active Суши
	a(href="#").main-nav__link Пицца
	a(href="#").main-nav__link Бургеры
	a(href="#").main-nav__link Боксы
	a(href="#").main-nav__link Десерты
	a(href="#").main-nav__link Напитки

include mobileToggle