.product__card
	.product__card-thumb
		img(src="./img/slider/01.png", alt="")
	.product__card-body
		.product__card-title
			a(href="#").text-strong Калифорния в тобике Калифорния в тобикевлпоавлп
		.product__card-descr.text-sm Тёплый ролл, обжаренный в темпурном кляре, со снежным крабом, свежим огурцом, икрой Масаго, сыром Филадельфия и твёрдым сыром
	.product__card-footer.d-flex.justify-content-between
		.product__card-price.text-strong
			| 122
			span грн.
		.product__card-weight.text-strong
			| 210
			span г.

	.product__card-full
		.product__card-full-descr.text-sm Тёплый ролл, обжаренный в темпурном кляре, со снежным крабом, свежим огурцом, икрой Масаго, сыром Филадельфия и твёрдым сыром
		.product__card-full-info.d-flex.justify-content-between
			.product__card-full-price
				| 180
				span грн.
			.product__card-full-weight
				| 220
				span г
		.product__card-order__btn
			button.btn-border.btn-green.btn.d-block.w-100 Заказать