section.stocks-section
		.slick-container

			.slick-container__header.d-flex.justify-content-center
				button.pp Prevs
				h2 Акции
				button.nn Next

			.slick-carousel(data-slick='{\
				"dots": false, \
				"slidesToShow": 6, \
				"slidesToScroll": 3, \
				"prevArrow": ".pp", \
				"nextArrow": ".nn" \
			}')
				.slide
					.card Товар 1
				.slide
					.card Товар 2
				.slide
					.card Товар 3
				.slide
					.card Товар 4
				.slide
					.card Товар 5
				.slide
					.card Товар 6
				.slide
					.card Товар 7
				.slide
					.card Товар 8
				.slide
					.card Товар 9

