section.stocks-section
	.slick-container.slider

		.slider__header.d-flex.justify-content-center.align-items-center.bg-black
			button.slider__btn.prev-arrow
				i.grf-arrow-l
			h2.slider__title Акции
			button.slider__btn.next-arrow
				i.grf-arrow-r

		.slick-carousel(data-slick='{\
			"dots": false, \
			"slidesToShow": 6, \
			"slidesToScroll": 2, \
			"prevArrow": ".prev-arrow", \
			"nextArrow": ".next-arrow", \
			"infinite": true \
		}')
			.slide
				include ./product-card
			.slide
				include ./product-card
			.slide
				include ./product-card
			.slide
				include ./product-card
			.slide
				include ./product-card
			.slide
				include ./product-card
			.slide
				include ./product-card
