// Top bar navigation
.top-bar.topbar
	.container-fluid
		.topbar-wrapper
			.topbar-left
				.btn.btn-white.btn-tobar__phone.btn-has-dropdown
					.topbar__phone
						a(href="#") (067) 888-88-88
						.btn-dropdown.topbar__phone-dropdown
							a(href="#") (067) 888-88-88
							a(href="#") (067) 888-88-88
					i.grf-up
				a(href="#").btn.btn-white.btn-icon
					i.grf-google
				a(href="#").btn.btn-white.btn-icon
					i.grf-instagram
			.topbar-logo
				a(href="#")
					img(src="./img/logo.png", alt="")
			.topbar-right
				a(href="#").btn.btn-white.btn-icon
					i.grf-search
				.btn.btn-white.btn-icon.btn-has-dropdown.btn-login
					i.grf-login
					.btn-dropdown
						a(href="#") Войти
						a(href="#") Зарегистрироваться

				a(href="#").btn.btn-white.btn-topbar__cart.btn-has-dropdown
					.topbar__cart
						span 3
						span Корзина

