// Top bar navigation
.top-bar.topbar
	.container-fluid
		.topbar-wrapper
			.topbar-left.search-hide
				.btn.btn-white.btn-tobar__phone.btn-has-dropdown
					.topbar__phone
						a(href="#") (067) 888-88-88
						.btn-dropdown.topbar__phone-dropdown
							a(href="#") (067) 888-88-88
							a(href="#") (067) 888-88-88
					i.grf-up
				a(href="#").btn.btn-white.btn-icon
					i.grf-google
				a(href="#").btn.btn-white.btn-icon
					i.grf-instagram
			.topbar-logo.search-hide
				a(href="index.html")
					img(src="./img/logo.png", alt="")
			.topbar-right
				include search
				.btn.btn-white.btn-icon.btn-has-dropdown.btn-login
					i.grf-login
					.btn-dropdown
						a(data-bs-toggle="modal" data-bs-target="#loginModal") Войти
						a(data-bs-toggle="modal" data-bs-target="#registerModal") Зарегистрироваться
						a(href="account-logged.html") Профиль

				a(href="cart.html").btn.btn-white.btn-topbar__cart.btn-has-dropdown
					.topbar__cart
						span 3
						span Корзина

